﻿<div layout-fill layout="row">
    <md-sidenav class="md-whiteframe-3dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()" layout-padding ng-include="'/Content/angular/admin/_admin_menu.html'">
    </md-sidenav>
    <div layout="column" flex>
        
            <md-content layout-align="start center" layout="row">
                <h1 style="margin: 10px;">Portal Customer Types</h1>
                <div layout-align="end end" layout="row" flex="70">

                    <md-button class="md-fab" ng-click="ctrl.add()">
                        <md-tooltip md-direction="top">Tilføj</md-tooltip>
                        <md-icon>add</md-icon>

                    </md-button>

                </div>
                
            </md-content>
            <md-content layout="row" layout-wrap>

              
                <form name="outerForm">
                    <md-list layout="row" layout-wrap>
                        <md-list-item ng-repeat="t in ctrl.customer_types">
                            <ng-form name="innerForm">
                                <md-content layout-gt-sm="column" layout-padding class="customer_type_item md-whiteframe-1dp">
                                    <md-input-container>
                                        <label>Site</label>
                                        <md-select ng-model="t.company_id">
                                            <md-option><em>None</em></md-option>
                                            <md-option ng-repeat="site in ctrl.sites" ng-value="site.Selskabs_id" ng-disabled="">
                                                {{site.Navn}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <label> site type</label>
                                        <input ng-model="t.company_customer_type" capitalize />
                                    </md-input-container>
                                    <md-input-container>
                                        <label> portal type</label>
                                        <input ng-model="t.portal_customer_type" ng-trim="true" capitalize />
                                    </md-input-container>
                                    <md-button class="pull-md-right md-raised md-accent" ng-disabled="!innerForm.$dirty" ng-click="ctrl.save(t)">
                                        <md-icon>save</md-icon> Gem
                                    </md-button>
                                    
                                </md-content>
                                </ng-form>
                        </md-list-item>
                    </md-list>
                </form>
</md-content>

            <!--<md-toolbar layout-align="center end"><md-button class="md-raised md-accent" ng-click="ctrl.save()" ng-disabled="!ctrl.routes_changed">Gem</md-button></md-toolbar>-->
      
    </div>
</div>