﻿<md-sidenav class="md-sidenav-left" md-component-id="left"
             md-whiteframe="4" style="z-index:2000"  ng-include="'/Content/angular/home/advanced/_side_nav.html'">

   
</md-sidenav>





<div ng-show="ctrl.loading==true" id="loading_div" style="position:absolute;width: 100%;height:100%;background-color: #ffffffb5;z-index: 1000;text-align: center;vertical-align: middle;">
    <md-progress-circular ng-disabled="false" md-diameter="196" style="position: fixed;
    top: 40%;
    left: 60%;" class="md-accent"></md-progress-circular>
</div>
<div class="advanced_departures_header" id="adv_header">
    <div class="arrow"><i class="material-icons">arrow_downward</i></div>
    <span translate="Plan_your_day_trip">Planlæg din dagstur</span>
</div>

<div class="md-hue-2 status_rundtur" layout="row" ng-cloak ng-show="ctrl.departures.length > 0" ng-include="'/Content/angular/home/advanced/_navigation.html'"></div>
<table class="advanced_departures" ng-show="ctrl.departures.length > 0">
    <tr ng-repeat="dep in ctrl.departures_silkeborg">
        <td>
            {{dep[0]}}
        </td>
        <td ng-repeat="d in dep.slice(1)  track by $index">
            <div ng-class="(ctrl.selection_step == 0 && d.is_disabled) || ctrl.selection_step == 1 && d.disabled_arrival  ? 'disabled' : d.selectable  || ctrl.check_start_slut(d) ? 'selectable ': d.selected_departure ? 'selected_departure ': ctrl.get_selection_css(d)" ng-click="ctrl.click_departure( d)">
                <md-icon ng-show="ctrl.authentication.isAuth" ng-click="ctrl.get_departure_info($event, d)">
                    info
                    <md-tooltip>{{d.ferry_name}}</md-tooltip>
                </md-icon>
                {{d.DatoTid | date : 'HH:mm'}}    
                <div class="clear_single" style="position:absolute;top:1px;right:2px;" ng-click="ctrl.clear_single(d)">x</div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="{{ctrl.departures_silkeborg[0].length +1}}">Pause </td>
    </tr>
    <tr ng-repeat="dep in ctrl.departures_himmelbjerget">
        <td>
            {{dep[0]}}
        </td>
        <td ng-repeat="d in dep.slice(1)  track by $index">
            <div ng-class="(ctrl.selection_step == 0 && d.is_disabled) || ctrl.selection_step == 1 && d.disabled_arrival  ? 'disabled' : d.selectable || ctrl.check_start_slut(d) ? 'selectable ': d.selected_departure ? 'selected_departure ': ctrl.get_selection_css(d)" ng-click="ctrl.click_departure( d)">

                <md-icon ng-show="ctrl.authentication.isAuth" ng-click="ctrl.get_departure_info($event, d)">
                    info
                    <md-tooltip>{{d.ferry_name}}</md-tooltip>
                </md-icon>
                {{d.DatoTid | date : 'HH:mm'}} 
        </td>
    </tr>
</table>

<div class="md-hue-2 status_rundtur" layout="row" ng-show="ctrl.departures.length > 0">
    <div flex="33" class="status_item step2" ng-class="ctrl.tours.length  < 2  ? '':'active'" ng-click="ctrl.reset();">
        <div><span translate="Clear_selection">Ryd valg</span> <i class="material-icons">clear</i></div>
    </div>
    <div flex="33"></div>
    <div flex="33" class="status_item step2" ng-class="[0,2].indexOf(ctrl.selection_step) > -1  && ctrl.tours.length > 1  ? 'active':''">
        <div ng-click="ctrl.book()"><span translate="go_to_book">Afslut ruteplanlægning og betal</span>  <i class="material-icons">arrow_forward</i></div>
    </div>
</div>
<div ng-show="ctrl.departures" ng-cloak>    
    <div ng-show="ctrl.departures.length == 0 && ctrl.loading==false" ng-cloak>Ingen mulige afgange på denne dato</div>
</div>

<!--<div ng-repeat="tour in ctrl.tours">
    <div>-------------------</div>
    <ul>
        <li ng-repeat="d in tour track by $index">
            {{ d.DatoTid | minutesToDateTime : d.Overfartstid  | date:' HH:mm'}} {{d.Navn}}
        </li>
    </ul>

</div>
<pre>{{ctrl.selected_departures |json}}</pre>-->
