﻿<div layout="row" layout-sm="column" layout-align="space-around" style="position:absolute;top:70px;right:10px;" md-theme="custom">

    <md-button class="add-comment md-fab md-raised md-mini md-primary md-icon-button md-ink-ripple" ng-click="ctrl.add_note($event)" ng-show="ctrl.tours.length > 1" ng-disabled="ctrl.selection_step==1">
        <i class="material-icons">note_add</i>
        <md-tooltip md-direction="right">{{'Add_note_to_booking' | translate}}</md-tooltip>
    </md-button>

</div>

<div flex="33" class="status_item step0" ng-class="[0,2].indexOf(ctrl.selection_step) > -1  ? 'active':''" ng-click="ctrl.add_tour(ctrl.selection_step)">

    <div><span translate="Select">Vælg</span> {{ctrl.tours.length }}. <span translate="departure">afgang</span></div>
    <span translate="Time_and_place">Sted og tidspunkt</span>

</div>
<div flex="33" class="status_item step1" ng-class="ctrl.selection_step == 1 ? 'active':''">
    <div><span translate="Select">Vælg</span>  {{ctrl.tours.length }}. <span translate="arrival">afstigning</span></div>
    <span translate="Time_and_place">Sted og tidspunkt</span>
</div>
<div flex="33" class="status_item step2" ng-class="[0,2].indexOf(ctrl.selection_step) > -1  && ctrl.tours.length > 1 ? 'active':''">
    <div ng-click="ctrl.book()" ng-class="[0,2].indexOf(ctrl.selection_step) > -1  && ctrl.tours.length > 1 ? 'active':''"><span translate="go_to_book">Afslut ruteplanlægning og betal</span> <i class="material-icons">arrow_forward</i></div>
</div>


<div ng-if="ctrl.authentication.isAuth" layout="row" layout-align="space-around" style="position: absolute;right: 10px;top:10px;">
    <div md-theme="custom">
        <md-button ng-disabled="!([0,2].indexOf(ctrl.selection_step) > -1  && ctrl.tours.length > 1)" ng-show="ctrl.authentication.isAuth" class="md-button md-raised md-accent" ng-click="ctrl.admin_book($event)">Admin booking</md-button>
    </div>

</div>