﻿<md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
        <h1 class="md-toolbar-tools">Afgangs Info</h1>
        <span flex></span>
        <md-icon ng-click="ctrl.hide_info()">close</md-icon>
     </div>
</md-toolbar>

<md-content layout-margin>

    <table class="tabel table-striped table-bordered">
        <tr>
            <th>id</th>
            <td>{{ctrl.toggle_departure.Afgangs_id}}</td>
        </tr>
        <tr>
            <th>Afgang:</th>
            <td>{{ctrl.toggle_departure.DatoTid | date : 'HH:mm'}}</td>
        </tr>
        <tr>
            <th>sejltid</th>
            <td> {{ctrl.toggle_departure.Overfartstid }}</td>
        </tr>
        <tr>
            <th>Overfart</th>
            <td> {{ctrl.toggle_departure.Navn}}</td>
        </tr>
        <tr>
            <th>Max pers.</th>
            <td> {{ctrl.toggle_departure.MaxPers}}</td>
        </tr>
        <tr>
            <th>Personer</th>
            <td>{{ctrl.toggle_departure.SumPersons}}</td>
        </tr>
       
        <tr>
            <th>Fartøj</th>
            <td> {{ctrl.toggle_departure.ferry_name}}</td>
        </tr>
        <tr>
            <th>Fartøj id</th>
            <td> {{ctrl.toggle_departure.Fartoj_id}}</td>
        </tr>

    </table>
    <div>
        <md-button ng-click="show_pre = !show_pre" class="md-primary">vis json</md-button>
        <div ng-show="show_pre">
            <pre>{{ctrl.toggle_departure |json}}</pre>
        </div>
    </div>


</md-content>
