﻿<div layout-fill layout="row">
    <md-sidenav class="md-whiteframe-3dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()" layout-padding ng-include="'/Content/angular/admin/_admin_menu.html'">
    </md-sidenav>
    <div layout="column" flex>

        <md-content layout-align="start center" layout="row">
            <h1 style="margin: 10px;">Portal UnitTypes Mapping</h1>
            

        </md-content>
        <md-content layout="row" layout-wrap>
            
            
            <form name="outerForm">
                <md-list layout="row" layout-wrap>
                    <md-list-item ng-repeat="site in ctrl.portal_sites" flex="100">
                        <ng-form name="innerForm" style="width: 100%" >
                            <md-content layout="column" layout-padding class="customer_type_item md-whiteframe-1dp" >


                                <md-toolbar><h4>{{site.Navn}}</h4></md-toolbar>
                                <div layout="row">
                                    <div flex="40" layout="column">

                                        <h5>Person typer</h5>
                                        
                                            <div layout="row" layout-align="space-between center"  ng-repeat="t in site.portal_person_types">
                                                <label flex="50">{{t.name}}</label>
                                                <md-select ng-model="t.site_person_type_id" flex="40" required>
                                                    <md-option><em>None</em></md-option>
                                                    <md-option ng-repeat="s in site.person_types" ng-value="s.id">{{s.name}}</md-option>
                                                </md-select>
                                            </div>
                                     
                                    </div>
                                    <div flex="5"></div>
                                    <div flex="40" layout="column">

                                        <h5>Enheds typer</h5>

                                        <div layout="row" layout-align="space-between center" ng-repeat="t in site.portal_unit_types">
                                            <label flex="50">{{t.Navn}}</label>
                                            <md-select ng-model="t.site_unit_type_id" flex="40" required>
                                                <md-option><em>None</em></md-option>
                                                <md-option ng-repeat="s in site.unit_types" ng-value="s.Enhedstype_id">{{s.Navn}}</md-option>
                                            </md-select>
                                        </div>
                                     
                                    </div>
                                    <div flex="5"></div>
                                    
                                </div>
                            </md-content>
                            <md-button class="pull-md-right md-raised md-accent" ng-disabled="!innerForm.$dirty || !innerForm.$valid" ng-click="ctrl.save(site)">
                                <md-icon>save</md-icon> Gem 
                            </md-button>


                       


                        </ng-form>
                    </md-list-item>
                </md-list>
            </form>
        </md-content>

        

    </div>
</div>