﻿<div class="shadow_div">
</div>
<div class="top_shadow_div">
</div>
<md-content layout="row" ng-cloak layout-fill style="position: relative;" layout-wrap md-whiteframe="3">
    <div style="position: absolute; top: 16px;left:4px; z-index: 1000;" class="west_side">
        <div layout="row" ng-include="'/Content/angular/shared/_top_bar.html'"></div>
    </div>
    <section layout="row" flex class="">        
        <!--<md-content id="inc_west_side" class="west_side" ng-include="'/Content/angular/home/_left_sidenav.html'" ng-controller="LeftSideNavController as ctrl"></md-content>-->
        <md-content id="inc_west_side" class="west_side">
            <div ng-include="'/Content/angular/home/_left_sidenav.html'" ng-controller="LeftSideNavController as ctrl"></div>
            <div ng-if="!ctrl.is_mob()" flex layout-padding layout-fill class="map_content" ng-include="'/Content/angular/home/map/_map.html'" ng-controller="MapController as ctrl"></div>
        </md-content>

        <div ng-if="!ctrl.is_mob()" flex layout-padding layout-fill class="map_content" ng-include="'/Content/angular/home/advanced/_advanced_right.html'" ng-controller="AdvancedRightController as ctrl"></div>
    </section>
    <div class="west_side" id="bottom_left" md-theme="hjejlen" ng-include="'/Content/angular/shared/_left_bottom_bar.html'">
    </div>
    <div class="small_logo" style="position: absolute; left:220px;bottom:10px;">
        <span translate="powered_by"> Powered by </span><br />
        <img src="/Images/cs_small_logo.jpg" />
    </div>


</md-content>