﻿<md-dialog aria-label="user info" md-theme="hjejlen" >
    
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Bruger Oplysninger</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><md-icon>close</md-icon>

                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content  layout-padding layout="row" >
            <form ng-cloak name="myForm" style="min-width:300px">
                <md-progress-linear md-mode="indeterminate" ng-show="ctrl.downloading"></md-progress-linear>

                <md-input-container class="md-icon-float  md-block md-icon-right">
                    <label for="username">Navn:</label>
                    <input type="text" ng-model="ctrl.user_info.name" autofocus ng-minlength="2" name="username" min="2" required flex="80" />
                    <i class="material-icons green" style="display:inline-block;color:green;" ng-show="myForm.username.$valid">done</i>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Telefon:</label>
                    <input type="text" ng-model="ctrl.user_info.phone" />
                </md-input-container>

                <md-input-container class="md-icon-float md-block" eopd-enter="myForm.email.$valid==true " >
                    <label for="email">Email:</label>
                    <input type="email" ng-model="ctrl.user_info.email" name="email" flex="80" ng-minlength="4"  />
                    <i class="material-icons green" style="display:inline-block;color:green;" ng-show="myForm.email.$valid && ctrl.user_info.email.length > 4">done</i>
                    
                </md-input-container>


            </form>

</md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised">
                Luk
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.save_user(ctrl.user_info)" flex="20" ng-disabled="!myForm.$valid" eopd-enter>Ok</md-button>
        </md-dialog-actions>
    
</md-dialog>