﻿<div class="container">
    <md-progress-linear md-mode="indeterminate" ng-show="ctrl.downloading"></md-progress-linear>
    <div class="row">      
        <div class="col-md-4">
            <form role="form">
                <h2 class="form-login-heading">Login</h2>
                <input type="text" class="form-control" placeholder="Username" data-ng-model="ctrl.username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" data-ng-model="ctrl.password" required>                          
                
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="ctrl.login(ctrl.username,ctrl.password)">Login</button>

                <div data-ng-hide="!ctrl.login_result" class="alert alert-danger"  >                
                    <ul>
                        <li ng-repeat="msg in ctrl.login_result">{{msg}}</li>
                    </ul>                     
                </div>
                 <div data-ng-show="ctrl.login_error" class="alert alert-danger"  >                
                    {{ctrl.login_error}}
                </div>
                
                
            </form>
        </div>        
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>    

</div>