﻿
<div class="select_departures" ng-switch on="ctrl.selected_ticket_type.type" layout="column" layout-fill layout-wrap >

    <md-toolbar layout="row" layout-align="start center">
        <md-button class="md-fab md-mini">
            <md-icon class="material-icons">arrow_downward</md-icon>
        </md-button> {{ ctrl.selected_ticket_type.type == 'retur' ? ('Choose_departures'|translate) : ('Choose_departure'|translate) }}
    </md-toolbar>

    <md-progress-linear md-mode="indeterminate" ng-show="ctrl.first_tour.loading_departures"></md-progress-linear>
    
    <div ng-switch-when="single"  flex>

        

        <div class="select_departures_label"><md-icon>access_time</md-icon> {{ctrl.first_tour.selected_departure_harbor.name}} - {{ctrl.first_tour.selected_arrival_harbor.name}}</div>
        <div>
            <md-button title="{{(item.is_disabled && ctrl.first_tour.in_time(item)) == true ? ('Sold_Out'|translate) + ' ':''}}{{ item.ferry_name}} {{item.sejltid}} min."
                       ng-repeat="item in ctrl.first_tour.selected_departures"
                       ng-click="ctrl.first_tour.select_departure(item)"
                       ng-disabled="ctrl.first_tour.check_is_disabled(item)"
                       class="md-raised"
                       ng-class="(!tour.in_time(item) ? 'start_time_dis':'start_time') + (ctrl.first_tour.selected_departure == item ? '  md-primary':'')">

                <b>{{item.DatoTid | date:' HH:mm' }}</b>   <span ng-show="item.ferry_name == 'Hjejlen'">Hjejlen</span><span ng-hide="item.ferry_name == 'Hjejlen'">{{'Tour_boat'|translate}}</span>
            </md-button>
        </div>        
    </div>

    <div ng-switch-when="nonstop" flex>
            <div class="select_departures_label"><md-icon>access_time</md-icon> {{ctrl.first_tour.selected_departure_harbor.name}} - {{ctrl.first_tour.selected_arrival_harbor.name}}</div>
            <div>
                <md-button 
                           title="{{(item.is_disabled && ctrl.first_tour.in_time(item)) == true ? ('Sold_Out'|translate) + ' ':''}}{{ item.ferry_name}} {{item.sejltid}} min."
                           style="position:relative;" ng-repeat="item in ctrl.first_tour.selected_departures" ng-if="item.path.length == 0 && item.starthavn_id == item.sluthavn_id && ctrl.get_houres(item) < 18"
                           ng-click="ctrl.first_tour.select_departure(item)"
                           ng-xdisabled="(!ctrl.first_tour.in_time(item)) ||item.Udsolgt == true || item.Locked == true || ctrl.number_of_persons + item.SumPersons > item.MaxPers || (ctrl.selected_unit_type.number_of_items ? item.SumNumberBikes + ctrl.selected_unit_type.number_of_items > item.max_number_of_bikes : false)"
                           ng-disabled="ctrl.first_tour.check_is_disabled(item)"
                           class="md-raised"
                           ng-class="(!tour.in_time(item) ? 'start_time_dis':'start_time') + (ctrl.first_tour.selected_departure == item ? '  md-primary':'')">

                   <b> {{item.DatoTid | date:' HH:mm' }}</b> (<span ng-show="item.ferry_name == 'Hjejlen'">Hjejlen</span><span ng-hide="item.ferry_name == 'Hjejlen'">Turbåd</span><!--{{ item.ferry_name}}--> {{item.sejltid}} min.)

                    
</md-button>
            </div>
    </div>

    <div ng-switch-when="evening" flex>
        <div class="select_departures_label"><md-icon>access_time</md-icon> {{ctrl.first_tour.selected_departure_harbor.name}} - {{ctrl.first_tour.selected_arrival_harbor.name}}</div>
        <div>
            <md-button title="{{(item.is_disabled && ctrl.first_tour.in_time(item)) == true ? ('Sold_Out'|translate) + ' ':''}}{{ item.ferry_name}} {{item.sejltid}} min."
                       ng-repeat="item in ctrl.first_tour.selected_departures" ng-if="item.path.length == 0 && item.starthavn_id == item.sluthavn_id && ctrl.get_houres(item) >= 18"
                       ng-click="ctrl.first_tour.select_departure(item)"
                       ng-xdisabled="(!ctrl.first_tour.in_time(item)) ||item.Udsolgt == true || item.Locked == true || ctrl.number_of_persons + item.SumPersons > item.MaxPers || (ctrl.selected_unit_type.number_of_items ? item.SumNumberBikes + ctrl.selected_unit_type.number_of_items > item.max_number_of_bikes : false)"
                       ng-disabled="ctrl.first_tour.check_is_disabled(item)"
                       class="md-raised"
                       ng-class="(!tour.in_time(item) ? 'start_time_dis':'start_time') + (ctrl.first_tour.selected_departure == item ? '  md-primary':'')">

                <b>{{item.DatoTid | date:' HH:mm' }}</b> ({{item.ferry_name == 'Hjejlen' ? 'Hjejlen':'Turbåd'}} {{item.sejltid}} min.)
                
            </md-button>
        </div>
    </div>

    <div ng-switch-when="retur" layout-fill>        
        <div >          
            <div class="select_departures_label"><md-icon>access_time</md-icon> {{ctrl.first_tour.selected_departure_harbor.name}} - {{ctrl.first_tour.selected_arrival_harbor.name}}</div>
                <div>
                    <md-button title="{{(item.is_disabled && ctrl.first_tour.in_time(item)) == true ? 'Udsolgt ':''}}{{ item.ferry_name}} {{item.sejltid}} min."
                               ng-repeat="item in ctrl.first_tour.selected_departures"
                               ng-click="ctrl.select_first_departure(item)"
                               ng-disabled="ctrl.first_tour.check_is_disabled(item)"
                               class="md-raised"
                               ng-class="(!tour.in_time(item) ? 'start_time_dis':'start_time') + (ctrl.first_tour.selected_departure == item ? '  md-primary':'')">
                        <b>{{item.DatoTid | date:' HH:mm' }}</b>
                        <span ng-show="item.ferry_name == 'Hjejlen'">Hjejlen</span><span ng-hide="item.ferry_name == 'Hjejlen'">Turbåd</span>


                    </md-button>
                </div>
     </div>
      <hr />
      <div>
            <div class="select_departures_label"><md-icon>access_time</md-icon> {{ctrl.get_last_tour().selected_departure_harbor.name}} - {{ctrl.get_last_tour().selected_arrival_harbor.name}}</div>
                <div>
                    <md-button title="{{(item.is_disabled && ctrl.get_last_tour().in_time(item)) == true ? 'Udsolgt ':''}}{{ item.ferry_name}} {{item.sejltid}} min."
                               ng-repeat="item in ctrl.get_last_tour().selected_departures"
                               ng-click="ctrl.get_last_tour().select_departure(item)"
                               ng-xdisabled="(!ctrl.get_last_tour().in_time(item)) || item.Udsolgt == true || item.Locked == true || ctrl.number_of_persons + item.SumPersons > item.MaxPers || (ctrl.selected_unit_type.number_of_items ? item.SumNumberBikes + ctrl.selected_unit_type.number_of_items > item.max_number_of_bikes : false) || item.start_date_time < ctrl.arrival_date_time"
                               ng-disabled="ctrl.get_last_tour().check_is_disabled(item) || item.start_date_time < ctrl.arrival_date_time"
                               class="md-raised"
                               ng-class="(!tour.in_time(item) ? 'start_time_dis':'start_time') + (ctrl.get_last_tour().selected_departure == item ? '  md-primary':'')">
                        <b>{{item.DatoTid | date:' HH:mm' }}</b>
                        <span ng-show="item.ferry_name == 'Hjejlen'">Hjejlen</span><span ng-hide="item.ferry_name == 'Hjejlen'">Turbåd</span>
                    </md-button>
                </div>
            </div>
    </div>
    <div ng-switch-default>
       ???
    </div>
</div>
