﻿<ng-form name="unittypeForm">
    <div ng-show="!ctrl.is_persons_selected" class="sample-show-hide">

        <div class="unittypes" ng-show="ctrl.selected_unit_type">            
            <md-input-container ng-repeat="item in ctrl.selected_unit_type.person_types" flex="50" class="unit-type md-icon-float md-icon-right md-block">
                <label>{{ ctrl.get_language(item)}}</label>
                <md-icon ng-bind="'indeterminate_check_box'" ng-click="ctrl.addToItem(item,-1)" ng-disabled="!item.Amount >  0" class="sub_btn"></md-icon>
                <input ng-model="item.Amount" type="number" min="0" class="unit_type_input" ng-keyup="ctrl.count_number_of_persons()" ng-max="ctrl.settings.max_number_of_persons">
                <md-icon ng-bind="'add_box'" class="md-primary" ng-click="ctrl.addToItem(item,1)"></md-icon>
            </md-input-container>
            <md-input-container flex="50" class="unit-type md-icon-float md-icon-right md-block">
                <label>{{'Number'|translate}} {{ ctrl.get_language(ctrl.selected_unit_type)}} {{ctrl.selected_unit_type.DA}}</label>
                <md-icon class="sub_btn" ng-bind="'indeterminate_check_box'" ng-click="ctrl.selected_unit_type.number_of_items = ctrl.selected_unit_type.number_of_items - 1" ng-disabled="!ctrl.selected_unit_type.number_of_items >  0"></md-icon>
                <input ng-model="ctrl.selected_unit_type.number_of_items" type="number" min="1" class="unit_type_input" ng-max="ctrl.settings.show_max_number_of_bikes">
                <md-icon ng-click="ctrl.selected_unit_type.number_of_items = ctrl.selected_unit_type.number_of_items + 1" class="md-primary">add_box</md-icon>
            </md-input-container>
            <div layout="row">
                <p flex="50">&nbsp;<span class="nr_of_pers" ng-show="ctrl.number_of_persons > 0">{{"number_of_persons_total"| translate}}: {{ctrl.number_of_persons}}</span></p>
                <div flex="50" layout-align="center end" layout="row">
                    <md-button aria-label="Vælg" class="pull-md-right md-raised md-primary" ng-click="ctrl.persons_selected(true)" ng-disabled="ctrl.number_of_persons == 0  || !ctrl.datepickerStartDate" translate="continue">Fortsæt</md-button>
                </div>
            </div>
        </div>
    </div>
</ng-form>
