﻿<div ng-show="!ctrl.first_tour.selected_arrival_harbor">

<md-content>

    <md-list>

        <md-subheader class="md-no-sticky select_destination_label">{{'Select_destination' |translate}} {{'to' |translate}}</md-subheader>

        <md-list-item ng-repeat="item in ctrl.first_tour.prioritized_arrival_harbors" ng-click="ctrl.select_arrival_harbor(item)" class="depature_list">
            <p> {{ item.name}} </p>
            <md-checkbox class="md-secondary" ng-checked="item == ctrl.first_tour.selected_arrival_harbor;" ng-click="ctrl.select_arrival_harbor(item)"></md-checkbox>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item ng-repeat="item in ctrl.first_tour.arrival_harbors" ng-click="ctrl.select_arrival_harbor(item)" ng-if="ctrl.first_tour.prioritized_departure_harbors.indexOf(item) == -1" class="depature_list">
            <p> {{ item.name}} </p>
            <md-checkbox class="md-secondary" ng-checked="item == ctrl.first_tour.selected_arrival_harbor" ng-click="ctrl.select_arrival_harbor(item)"></md-checkbox>
        </md-list-item>
    </md-list>
</md-content>
</div>

