﻿<div ng-hide="ctrl.selected_ticket_type" flex class="step_border">
    <div layout="row" layout-align="end center">
        <md-toolbar layout="row" layout-align="start center" ng-show="!ctrl.selected_ticket_type">
            <md-button class="md-fab md-mini">
                <md-icon class="material-icons">arrow_downward</md-icon>
            </md-button> {{'Select_ticket_type' | translate}}
        </md-toolbar>

    </div>
    <md-content class="md-padding">
        <md-radio-group ng-model="ctrl.selected_ticket_type" ng-change="ctrl.select_ticket_type()" >
            <md-radio-button ng-repeat="item in ctrl.ticket_types"
                             ng-value="item"
                             aria-label="{{item.text}}"
                             ng-disabled="item.disabled"
                             ng-show="item.show">

                {{ctrl.get_language(item)}} 
            </md-radio-button>          
    </md-content>
</div>



    
