﻿

<md-tabs md-dynamic-height md-border-bottom md-selected="ctrl.selected_index" ng-class="ctrl.is_persons_selected ? 'selected_step_box ':'step_border'">
    <!-- 1 -->
    <md-tab>

        <md-tab-label>
            <md-icon>today</md-icon>
            <span ng-click="ctrl.reset_datepicker()">{{ctrl.datepickerStartDate || "Select_date"| translate}}</span>
            
        </md-tab-label>

        <md-tab-body>
            <md-content class="" layout-align="center center" layout="row" ng-show="ctrl.show_calendar==true">
                <md-calendar class="md-accent mob_only"                               
                               ng-model="ctrl.md_datepickerStartDate"                                                              
                               ng-change="ctrl.md_start_date_changed($event)"                             
                               md-min-date="ctrl.minDate"
                             md-date-filter="ctrl.notPosibleDeparturesPredicate"
                                md-max-date="ctrl.maxDate"
                                >                                                                              
                </md-calendar>     
                <div class="desktop_only" datepicker id="datepicker" ng-model="ctrl.datepickerStartDate" ng-change="ctrl.start_date_changed()" style="width: 100%;background:white;padding: auto;" layout-align="center center" layout="row"></div>
            
            </md-content>
        </md-tab-body>
    </md-tab>
    <!-- 2 -->
    <md-tab ng-disabled="!ctrl.datepickerStartDate">
        <md-tab-label>
            <div>
                <md-icon>directions_boat</md-icon>
                <span ng-click="ctrl.reset_departure()">{{ctrl.first_tour.selected_departure_harbor.name || 'Sail_from'| translate}}</span>
            </div>
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <md-list>
                    <label class="departures_subheader" translate="Choose_departure_from">
                        Vælg afgang fra
                    </label>
                    <md-list-item ng-repeat="item in ctrl.first_tour.prioritized_departure_harbors" ng-click="ctrl.select_departure_harbor(item)" class="depature_list">
                        <p> {{ item.name}} </p>
                        <md-checkbox class="md-secondary" ng-checked="item == ctrl.first_tour.selected_departure_harbor;" ng-click="ctrl.select_departure_harbor(item)"></md-checkbox>
                    </md-list-item>

                    <label class="departures_subheader" translate="Alphabetical">Alfabetisk:</label>
                    <md-list-item ng-repeat="item in ctrl.first_tour.departure_harbors" ng-click="ctrl.select_departure_harbor(item)" ng-if="ctrl.first_tour.prioritized_departure_harbors.indexOf(item) == -1" class="depature_list">
                        <p> {{ item.name}} </p>
                        <md-checkbox class="md-secondary" ng-checked="item == ctrl.first_tour.selected_departure_harbor" ng-click="ctrl.select_departure_harbor(item)"></md-checkbox>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab-body>
    </md-tab>
    <!-- 3 -->
    <md-tab md-on-select="ctrl.persons_selected(false)" ng-disabled="!ctrl.first_tour.selected_departure_harbor">
        <md-tab-label>
            <div>
                <md-icon>person_outline</md-icon>
                <span ng-click="ctrl.persons_selected(false)" ng-show="ctrl.is_persons_selected">{{'Persons'|translate}} ({{ctrl.number_of_persons}})</span>

                <span ng-click="ctrl.persons_selected(false)" ng-show="!ctrl.is_persons_selected">{{'Persons'|translate}}</span>
            </div>
        </md-tab-label>
        <md-tab-body>
            <div class="md-padding" ng-show="!ctrl.is_persons_selected">
                <div ng-include="'/Content/angular/home/left_side/_select_unit_type.html'"></div>
            </div>
        </md-tab-body>
    </md-tab>
</md-tabs>