﻿<div layout-fill  layout="row">
    <md-sidenav class="md-whiteframe-3dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()" layout-padding ng-include="'/Content/angular/admin/_admin_menu.html'">
    </md-sidenav>
        <div layout="column" flex>
            <form>
                <md-content>
                    <h1 style="margin: 10px;">Portal Ruter</h1>{{ctrl.portal_rutes|json}}
                </md-content>
                <md-content layout="row" layout-wrap>

                    <div ng-repeat="ruter in ctrl.ruter" flex="33" >

                            <md-list>

                                <md-divider></md-divider>
                                <md-subheader> <h4>{{ruter.name}}</h4></md-subheader>


                                <md-list-item ng-repeat="r in ruter.routes" ng-click="ctrl.toogle_checked(r.Rute_id)">

                                    <p>
                                        {{r.Navn}}

                                    </p>
                                    <md-checkbox ng-checked="ctrl.isChecked(r.Rute_id)" ng-model="r.checjed"
                                                 class="md-primary"  ng-click="ctrl.toogle_checked(r.Rute_id)"
                                                 >
                                        {{h.name}}
                                    </md-checkbox>
                                </md-list-item>
                            </md-list>

                    </div>



            </md-content>

                <md-toolbar layout-align="center end"><md-button class="md-raised md-accent" ng-click="ctrl.save()" ng-disabled="!ctrl.routes_changed">Gem</md-button></md-toolbar>
            </form>
        </div>    
</div>