﻿<md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
            md-component-id="left" ng-click="app.toggleList()" layout-padding ng-include="'/Content/angular/admin/_admin_menu.html'">

</md-sidenav>
<md-content ng-cloak layout-padding flex layout-margin>
        <div class="col-md-4">
            <form role="form">
                <h2 class="form-login-heading">Register</h2>
                <input type="text" class="form-control" placeholder="Username" data-ng-model="ctrl.username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" data-ng-model="ctrl.password" required>          
                
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="ctrl.register(ctrl.username,ctrl.password)">Register</button> 
               <md-progress-linear md-mode="indeterminate" ng-show="ctrl.downloading"></md-progress-linear>
                 <div data-ng-hide="!ctrl.login_result" class="alert alert-success"  >                
                    <ul>
                        <li  ng-repeat="msg in ctrl.login_result">
                         <span ng-bind-html="msg"></span>
                        </li>
                    </ul>                     
                </div>
                <div data-ng-hide="!ctrl.login_error" class="alert alert-danger"  >                
                    <ul>
                        <li ng-repeat="msg in ctrl.login_error">{{msg}}</li>
                    </ul>                     
                </div>
                
                
            </form>
        </div>        
        <div class="col-md-2">
            &nbsp;
        </div>
  </md-content>  