﻿<div layout="row" layout-sm="column" layout-align="space-around" flex="100">
    <div ng-if="ctrl.is_ready_to_book">
        <md-button class="add-comment md-fab md-raised md-mini md-primary md-icon-button md-ink-ripple" ng-click="ctrl.add_note($event)">
            <i class="material-icons">note_add</i>
            <md-tooltip md-direction="right">{{'Add_note_to_booking' | translate}}</md-tooltip>
        </md-button>

    </div>


    <div ng-if="ctrl.authentication.isAuth" layout="row" layout-align="space-around">
        <div md-theme="custom">
            <md-button ng-disabled="!ctrl.is_ready_to_book" ng-show="ctrl.authentication.isAuth && ctrl.is_ready_to_book" class="md-button md-raised md-accent" ng-click="ctrl.admin_book($event)">Admin booking</md-button>
        </div>
        <div>
            <md-button ng-disabled="!ctrl.is_ready_to_book" ng-show="ctrl.is_ready_to_book" class="md-button md-raised md-primary" ng-click="ctrl.book()">{{'continue' | translate}}<span ng-show="ctrl.price_total > 0 && ctrl.settings.show_price">( KR. {{ctrl.price_total}})</span></md-button>
        </div>

    </div>
    <div ng-if="!ctrl.authentication.isAuth">

        <div flex="80">
            <md-button style="width:100%" ng-disabled="!ctrl.is_ready_to_book" ng-show="ctrl.is_ready_to_book" class="md-button md-raised md-primary" ng-click="ctrl.book()">{{'continue' | translate}}<span ng-show="ctrl.price_total > 0 && ctrl.settings.show_price">( KR. {{ctrl.price_total}})</span></md-button>
        </div>

    </div>


    <md-progress-circular md-mode="indeterminate" ng-show="ctrl.loading" style="position: absolute;"></md-progress-circular>
</div>

<div ng-if="ctrl.is_ready_to_book" style="margin-left: 50px;">{{ctrl.comment}}</div>