﻿<div flex style="margin-left:120px;">
    <img src="/Images/cslogo.jpg" class="cs_logo" style="display:none;" />
    <img src="/Images/hjejlen_logo.png" class="logo_left" ng-show="!ctrl.authentication.isAuth" />
    <img src="/Images/hjejlen_logo_green.png" class="logo_left" ng-show="ctrl.authentication.isAuth" />
    <h1 class="title_header md-accent">{{ctrl.meta_title}}</h1>
</div>
<md-input-container layout="row" style="margin: 0;font-size: 12px;">
    <md-icon class="material-icons">language</md-icon>
    <md-select ng-model="ctrl.language" class="md-no-underline" ng-change="ctrl.change_language(ctrl.language)">
        <md-optgroup label="">
            <md-option ng-value="l.code" ng-repeat="l in ctrl.languages">{{l.language}}</md-option>
        </md-optgroup>
    </md-select>
</md-input-container>
<div ng-include="'/Content/angular/menu/_menu.html'"></div>