<md-dialog aria-label="info">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.title }}<i class="material-icons green" ng-show="ctrl.user_info['active-sessions'] != undefined">network_wifi</i> </h2>


        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="fortryd">
    
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
      	<md-progress-linear md-mode="indeterminate" ng-show="ctrl.downloading"></md-progress-linear>
      <table class="table table-condensed table-hover" flex style="font-size: 11px;">
      	        <tr md-row ng-repeat="(key,val) in ctrl.info">
                        <th md-column> {{key}}</th>
                        <td>{{val}}</td>
                </tr>
      </table>


        </div>
        
    </md-dialog-content>

    <md-dialog-actions layout="row">
      
      <span flex></span>
      
      <md-button ng-click="answer('useful')">
        Ok
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>