﻿
<div layout-fill layout="row">
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()" layout-padding ng-include="'/Content/angular/admin/_admin_menu.html'">
    </md-sidenav>

    <md-content ng-cloak layout-padding flex layout-margin>
        <h1>User Admin</h1>






        <md-switch ng-model="ctrl.show_admin" aria-label="Show Admin Users" class="green">
            Show Admin Users
        </md-switch>

        <table class="table-bordered table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="{{ctrl.roles.length}}">Roles:</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>Language</th>
                    <!--<th>Site</th>-->
                    <th ng-repeat="role in ctrl.roles">{{role.Name}}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ctrl.users" class="my-repeat-animation" ng-show="(user.roles.indexOf(1) != 0 && !ctrl.show_admin )|| (user.roles.indexOf(1) != -1 && ctrl.show_admin && user.roles)" ng-cloak>



                    <form name="user_form">
                        <td>


                            {{user.Email}}
                        </td>
                        <td>
                            <md-input-container>
                                <md-select ng-model="user.language" ng-change="user.changed=true">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-repeat="language in ctrl.languages" ng-value="language.code">
                                        {{language.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                      
                        <td ng-repeat="role in ctrl.roles">
                            <md-checkbox ng-checked="ctrl.role_id_checked(role.Id, user)" ng-click="ctrl.role_check(role.Id, user)" aria-label="add/remove role"></md-checkbox>
                        </td>
                        <td>
                            <md-icon-button ng-click="ctrl.delete_user($event, user)">
                                <i class="material-icons red">delete</i>
                            </md-icon-button>
                        </td>
                        <td>
                            <md-button class="md-raised md-mini md-primary" ng-disabled="!user.changed" ng-click="ctrl.save_user_roles(user)">Save</md-button>
                        </td>
                    </form>
                </tr>

            </tbody>
        </table>
        <pre>
    
</pre>
        <md-button class="md-raised md-mini md-accent" ng-click="ctrl.new_user($event)">New User</md-button>
        
    </md-content>
    </div>