﻿<div id="map_canvas" ng-if="showMap">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds" control="map.control" options="options">
            <!--<ui-gmap-markers idkey="marker.id" models="markers" coords="'self'" icon="{url: '/Images/home.png'}" events="markersEvents" options="'options'" ></ui-gmap-markers>-->
            <!--<ui-gmap-markers idkey="marker.id" models="markers" coords="'self'" icon="{url: '/Content/Media/Svendborg.svg'}" events="markersEvents" options="'options'"></ui-gmap-markers>-->
            <ui-gmap-markers idkey="marker.id" models="markers" coords="'self'" icon="{url: '/Content/Media/Svendborg.svg'}" events="markersEvents" options="'options'"></ui-gmap-markers>
            <ui-gmap-polylines models="map.polys" path="'path'" stroke="'stroke'" visible="'visible'"
                               geodesic="'geodesic'" editable="'editable'" draggable="'draggable'" static="true">
            </ui-gmap-polylines>
            <ui-gmap-markers idkey="oferry.id" models="oferry" coords="'self'" icon="{url: '/Images/ship_sea_ocean.png'}"></ui-gmap-markers>
            <!--<ui-gmap-markers idkey="oferry.id" models="oferry" coords="'self'" icon="goldStar"></ui-gmap-markers>-->


            <ui-gmap-marker type="cluster" idkey="'marker.id'" ng-repeat="marker in markers" coords="marker.coords" icon="marker.icon" options="marker.options" click="marker.click"></ui-gmap-marker>
            <ui-gmap-window show="window.show" options="windowOptions" coords="window.coords" closeClick="window.closeClick()">
                <div  class="info_window">
                    <h5>{{window.title}}</h5>
                    <a ng-href="{{window.harbor.url}}" target="_blank" ng-show="{{window.harbor.url.length > 0}}">{{"Read_about_destination"|translate}}</a>
                    <hr />
                    <div layout="row" ng-show="!$parent.window.show_continue_btn && $parent.window.show_start_btn">
                        <div flex></div>
                        <!--<button style="float: right" class="md-button md-primary" ng-click="$parent.window.start_here()" ><span translate="Start_travel_here">Start rejse her</span></button>-->
                    </div>
                    <div layout="row" ng-show="$parent.window.show_continue_btn  && $parent.is_persons_selected">
                        <div flex></div>
                        <!--<button style="float: right" class="md-button  md-accent" ng-click="$parent.window.continue_here()" ><span translate="Propose_travel_here">Forsæt rejse her</span></button>-->
                    </div>
                </div>
            </ui-gmap-window>
        </ui-gmap-google-map>
    </div>


