﻿<md-dialog aria-label="site info">
    <form ng-cloak name="myForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Setting</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding ng-cloak>
        
            <md-input-container class="md-icon-float md-block md-icon-right">
                <label for="name">Name</label>
                <input type="text" ng-model="ctrl.setting.name" placeholder="name (no space)"  ng-minlength="2" name="name" flex="90" required ng-pattern="/^[\d\w]*$/" uncapitalize />
                <i class="material-icons green" style="display:inline-block;" ng-show="myForm.name.$valid">done</i>
            </md-input-container>


            <md-input-container class="md-icon-float md-block md-icon-right">
                <label for="name">description</label>
                
                <textarea ng-model="ctrl.setting.description" md-maxlength="300" rows="1" md-select-on-focus></textarea>
                <i class="material-icons green" style="display:inline-block;" ng-show="myForm.description.$valid">done</i>
            </md-input-container>

            <md-input-container class="md-icon-float md-block md-icon-right">
                <label for="type">Type:</label>                
                <md-select ng-model="ctrl.setting.type" required>
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="type in ctrl.setting_types" ng-value="type" >
                        {{type}}
                    </md-option>
                </md-select>
                <i class="material-icons green" style="display:inline-block;" ng-show="myForm.type.$valid">done</i>
            </md-input-container>
            
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Close
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.save(ctrl.setting)" ng-disabled="!myForm.$valid">Save</md-button>
        </md-dialog-actions>
       
    </form>

</md-dialog>