﻿<div layout-fill layout="row">
    <md-sidenav class="md-whiteframe-3dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()" layout-padding ng-include="'/Content/angular/admin/_admin_menu.html'">
    </md-sidenav>
    <div layout="column" flex>

        <div layout-align="start center" >
            <h1 style="margin: 10px;">Settings</h1>
            <md-button class="md-raised md-fab md-accent" ng-click="ctrl.add($event)"><md-icon>add</md-icon></md-button>
        </div>

        <md-content layout="row" layout-wrap>
            <form name="outerForm" layout="row" layout-wrap style="width:800px;">
                <div ng-repeat="item in ctrl.settings" flex="33" layout-padding class="md-whiteframe-1dp">

                    <md-content ng-switch on="item.type">
                        <md-icon style="position: absolute; right: 0; top: 0;" ng-click="show_description = !show_description" class="md-accent">
                            info
                            <md-tooltip>{{item.description}} !</md-tooltip>
                        </md-icon>
                        <md-input-container ng-switch-when="boolean">
                            <label>{{item.name}}</label><br />
                            <md-radio-group ng-model="item.value" layout="row">
                                <md-radio-button ng-value="true">True</md-radio-button>
                                <md-radio-button ng-value="false">False</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block" ng-switch-default>
                            <!-- Use floating label instead of placeholder -->
                            <label>{{item.name}}</label>
                            <input ng-model="item.value" type="{{item.type}}">
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" ng-show="show_description">
                            <!-- Use floating label instead of placeholder -->
                            <label>description</label>
                            <input ng-model="item.description" type="text">
                        </md-input-container>
                    </md-content>
                </div>
                <md-toolbar>
                    <md-button class="md-raised md-accent" ng-disabled="!outerForm.$dirty" ng-click="ctrl.save()">Save</md-button>
                </md-toolbar>
            </form>
            </md-content>
</div>
    
</div>
<pre>{{ctrl.settings|json}}</pre>