﻿<md-menu ng-controller="MenuController as ctrl">
    <md-button aria-label="Open menu" class="md-icon-button" ng-click="ctrl.openMenu($mdMenu, $event)">
        <i class="material-icons" ng-show="!$mdMenuIsOpen">more_vert</i>                
    </md-button>
    <md-menu-content width="4">
        <md-menu-item  ng-repeat="m in ctrl.menu_items">
            <md-button class="md-primary" aria-label="Show User List" ng-href="{{m.url}}">
                {{ m.name}}
            </md-button>
        </md-menu-item>
        <md-divider ng-if="!$last"></md-divider>
        <md-menu-item>
            <md-button class="" aria-label="Logout" ng-click="ctrl.logout()" ng-show="ctrl.authentication.isAuth">
                Logout ({{ctrl.authentication.userName}})
            </md-button>
        </md-menu-item>        
    </md-menu-content>
</md-menu>


      

              
        



        

        



       

    
